/* header.css */
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header h1 {
  font-size: 28px;
  margin: 0;
}

.header p {
  font-size: 16px;
  margin: 10px 0;
}
